h1 {
    color: brown;
}



.n {
    background-color:aquamarine;
    display:flex;
    justify-content: space-between;
}

.v {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap
}

.b{
    display:flex;
    justify-content: flex-end;
}

h2, p {
    text-align:center
}